*.csv filter=lfs diff=lfs merge=lfs -text
app/data/MLB/pitching/pitching_data_combined.csv filter=lfs diff=lfs merge=lfs -text
app/data/MLB/batting/batting_data_combined.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
