annotated-types
anyio
apscheduler
certifi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
fonttools
h11
httpcore
httptools
httpx
idna
jinja2
joblib
kiwisolver
markdown-it-py
markupsafe
matplotlib
mdurl
numpy
packaging
pandas
pillow
pydantic
pydantic-core
pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
requests
rich
rich-toolkit
rignore
scikit-learn
scipy
seaborn
sentry-sdk
shellingham
six
sniffio
starlette
threadpoolctl
tqdm
typer
typing-extensions
typing-inspection
tzdata
tzlocal
urllib3
uvicorn
watchfiles
websockets
xgboost
xmltodict
gunicorn
-e .
